<aside class="sidebar">
  <div class="sidebar-header">
    <h3>BH Reclamation</h3>
  </div>

  <ul class="sidebar-menu">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="material-icons">dashboard</i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/list-user-reclamation" routerLinkActive="active">
        <i class="material-icons">assignment</i>
        <span>Réclamations</span>
      </a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active">
        <i class="material-icons">person</i>
        <span>Profil</span>
      </a>
    </li>
    
  </ul>
</aside>
